* {
  margin: 0;
  padding: 0;
}
body {
  background: #F2F4FF;
  height: auto;
  overflow: auto;
  font-family: 'Rubik', sans-serif;
}
.container {
  margin-block: 85px;
}
.header {
  top: 0;
  z-index: 2;
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba( 229, 226, 226, 0.75 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.bar {
  color: #7373EA;
  font-size: 20px;
  padding: 20px;
  padding-inline: 30px;
}
.pathname{
 text-align: right;
 font-size: 15px;
 color: #7373EA;
 padding: 10px;
 padding-inline: 10px;
}
.serchicon input {
  width: 110px;
  border: none;
  padding: 5px;
  background: #F2F4FF;
}
.serchicon {
  display: flex;
  background: #F2F4FF;
  box-shadow:  12px 12px 48px #b6b7bf,
             -12px -12px 48px #ffffff;
  height: 35px;
  margin-block: 12.5px;
  margin-inline: 5px;
  border-radius: 17px;
}
.serch {
  background-color: #7373EA;
  color: white;
  font-size: 12px;
  padding: 11.5px;
  padding-inline: 10px;
  border-start-start-radius: 26px;
  border-end-start-radius: 26px;
}
/**---------side basr+--------**/
.side-bar {
  transition: .2s;
  width: 70vw;
  position: fixed;
  z-index: 20;
  background-color: #7373EA;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30vw;
}
.arrow-bar {
  font-size: 20px;
}
.nav-bar {
  margin: 15px 8px;
  background-color: white;
  padding: 10px 25px;
  border-radius: 28px;
  display: flex;
}
.nav-text {
  width: 90px;
}
a{
  color: black;
  text-decoration: none;
  
}

.side-bar-active {
  margin-left: -200px;
  width: 0;
  position: absolute;
  z-index: 5;
}
/** --------song-----------**/
.songs {
  z-index: 1;
}
.song-box {
  display: flex;
  height: auto;
  margin-inline: auto;
  width: 80vw;
  padding-inline: 20px;
  margin-block: 20px;
  border: 1px solid white;
  background: #F2F4FF;
  box-shadow:  12px 12px 48px #b6b7bf,
             -12px -12px 48px #ffffff;
  border-radius: 40px;
}
.song-img img {
  height: 60px;
  border-radius: 50%;
}
.song-info {
  width: 60%;
  padding-inline: 15px;
}
.song-title {
  color: #7373EA;
}
.song-artis {
  color: #939396;
}
.song-duration {
  padding: 20px;
  color: #939396;
}

/** Horizontal menu--------*/
.horizontal-menu {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  background: white;
}
.horizontal-menu-button {
  border-radius: 16px;
  border: none;
  height: 2rem;
  width: auto;
  padding: .5rem 1.1rem;
  margin: .4rem .7rem;
  white-space: nowrap;
  background: #7373EA;
  color: white;
}
/** welcoming---------------**/
.welcoming {
  
}
.welcoming-text {
  font-size: 1.5rem;
  padding: 0 2rem;
  color: #7373EA;
}
.welcoming-img {
  animation: 3s welcoming-animation;
  animation-iteration-count: infinite;
  margin-top: 1rem;
  padding: 0 5rem;
  height: 12rem;
}
@keyframes welcoming-animation {
 
  0%{
   transform: rotate(-10deg);
  }
  50%{
    transform: rotate(10deg);
  }
  100%{
   transform: rotate(-10deg);
  }
  
}

/**-------music Player----------**/
.music-player {
  width: 100vw;
  color: white;
  position: fixed;
  z-index: 20;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-color: #7373EA;
  transition: .2s;
}
.music-img img {
  margin-top: 5vh;
  height: 60vw;
  margin-inline: 20vw;
  box-shadow:  45px 45px 90px #5959b4,
             -45px -45px 90px #8d8dff;
transition: .2s;
}
.music-info {
  margin-bottom: 40px;
  transition: .2s;
}
.music-title {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  transition: .2s;
}
.music-artist {
  color: #bdbdbd;
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
transition: .2s;
}
.arrow {
  padding: 10px;
  font-size: 20px;
}

.marquee {
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s infinite 2s;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: -50%;}
    50%  {left: 150%;}
}
/**music player active**/

.music-player-active {
  position: fixed;
  z-index: 20;
  display: flex;
  height: 10vh;
  margin-top: 90vh;
  background-color: #7373EA;
  width: 100vw;
}
.music-img-active img{
  margin-top: 0;
  height: 8vh;
  padding: 1vh 0;
  margin-inline: 1vh;
}
.music-info-active {
  display: block;
  text-align: left;
  margin-left: 0;
  width: 70%;
}
.music-title-active {
  margin: 0;
  padding-inline: 10px;
  padding-top: 10px;
  font-size: 15px;
  text-align: left;
}
.music-artist-active{
  margin: 0;
  font-size: 15px;
  padding-inline: 10px;
  text-align: left;
}
.myAudio-active {
  width: 90px;
}
.arrow-active {
  display: none;
}

/**------audio style------**/
.music-detail {
margin-inline: 30px;
  border-radius: 30px;
  background: #7373EA;
  box-shadow:  45px 45px 90px #5959b4,
             -45px -45px 90px #8d8dff;
}
.myAudio::-webkit-media-controls-panel{
  background: #7373EA;
  box-shadow:  45px 45px 90px #5959b4,
             -45px -45px 90px #8d8dff;
}

.myAudio::-webkit-media-controls-mute-button{
  display: none;
}
.myAudio::-webkit-media-controls-timeline {
  width: 120px;
}

/**------audio active--------**/
.music-detail-active {
  margin: 0;
  padding: 0;
}
.myAudio-active::-webkit-media-controls-panel{
  width: 60px;
}
.myAudio-active::-webkit-media-controls-timeline {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
  padding-left: 24vw;
   }
   .music-player-active {
     margin-top: 96.5vh;
   }
   .music-player {
     margin-left: 24vw;
     border-inline: 2px solid white;
   }
   .music-img img{
     height: 40vw;
   }
   .music-img-active img {
     height: 48px;
   }
   .headicon {
     display: none;
   }
   .music-info {
     text-align: left;
     width: 30vw;
     padding-inline: 23.5vw;
   }
   .music-info-active {
     padding: 0;
     padding-right: 30vw;
   }
   .serchicon input{
     width: 40vw;
   }
   .pathname {
     margin-inline: 8vw;
   }
   .side-bar-active {
     width: 20vw;
     margin-inline: 0;
     position: fixed;
   }
   .arrow-bar{
     display: none;
   }
   .nav-bar {
     width: 15vw;
     margin-inline: 0;
   }
   .welcoming-img {
     height: 40vw;
     text-align: center;
     margin-inline: 10vw;
   }
   .welcoming-text {
     text-align: center;
   }
   .song-box {
     width: 60vw;
   }
   .arrow {
     font-size: 2.5rem;
   }
  }
